<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/ejemplo.css">
    <!-- se coloca defer para q no haya error al cargarse -->
    <script defer src="../scripts/ejemplo.js"></script>
</head>
<body>
    <h1>AJSD AJSNDAS DABSDA SAVDGS</h1>
    <a href="/formulas">ir a formulas</a>
    <a href="/productos">ir a Productos</a>
    <a href="/proveedores">ir a Proveedores</a>
</body>
</html>