<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="../scripts/formulas.js"></script>
    <style>
        .nav-link:hover {
            color: #f3f3f6;
            background-color: #252627;
        }

        .activo {
            color: #f3f3f6;
            background-color: #252627;
        }

        .fade-in {
            opacity: 0;
            transform: translateY(10px);
            transition: opacity 0.4s ease, transform 0.4s ease;
        }

        .fade-in.show {
            opacity: 1;
            transform: translateY(0);
        }
    </style>
</head>
<body>
    <!-- aqui es la navegacion entre paginas -->
    <nav>
        <div class="bg-dark">
            <button class="btn-menu btn border-0 rounded-1" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#menuLateral">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
                    stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-menu-2">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M4 6l16 0" />
                    <path d="M4 12l16 0" />
                    <path d="M4 18l16 0" />
                </svg>
            </button>
        </div>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="menuLateral" aria-labelledby="menuLateralLabel">
            <div class="offcanvas-header d-flex">
                <img src="https://static.vecteezy.com/system/resources/thumbnails/045/815/724/small/cow-logo-design-inspiration-bull-and-buffalo-cow-animal-logo-design-free-vector.jpg"
                    alt="logo" class="img-fluid" width="75px" height="75px">
                <h2 class="offcanvas-title fw-bold fs-1" id="menuLateralLabel">Vaca vieja</h2>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="list-unstyled fs-5">
                    <li>
                        <a href="#" class="nav-link ps-3 py-2 rounded-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-package">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M12 3l8 4.5l0 9l-8 4.5l-8 -4.5l0 -9l8 -4.5" />
                                <path d="M12 12l8 -4.5" />
                                <path d="M12 12l0 9" />
                                <path d="M12 12l-8 -4.5" />
                                <path d="M16 5.25l-8 4.5" />
                            </svg>
                            Productos
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link ps-3 py-2 rounded-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-truck-delivery">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                                <path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                                <path d="M5 17h-2v-4m-1 -8h11v12m-4 0h6m4 0h2v-6h-8m0 -5h5l3 5" />
                                <path d="M3 9l4 0" />
                            </svg>
                            Proveedores
                        </a>
                    </li>
                    <li>
                        <a href="/formulas" class="nav-link activo ps-3 py-2 rounded-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-id">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path
                                    d="M3 4m0 3a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v10a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3z" />
                                <path d="M9 10m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                                <path d="M15 8l2 0" />
                                <path d="M15 12l2 0" />
                                <path d="M7 16l10 0" />
                            </svg>
                            Formulas
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- ESTO ES LO PRINCIPAL, ADEMAS DEL MODAL PARA AGREGAR UNA NUEVA FORMULA -->
    <div class="w-100 m-auto bg-dark text-light py-4 shadow">
        <h1 class="h1 fs-1 fw-semibold text-center">Gestion de formulas</h1>
        <div class="d-flex w-75 m-auto justify-content-center mt-4 mb-3">
            <button type="button" class="btn btn-light me-3" data-bs-toggle="modal" data-bs-target="#modalNuevaFormula">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="currentColor"
                    class="icon icon-tabler icons-tabler-filled icon-tabler-square-arrow-up">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                        d="M19 2a3 3 0 0 1 3 3v14a3 3 0 0 1 -3 3h-14a3 3 0 0 1 -3 -3v-14a3 3 0 0 1 3 -3zm-7 5l-.09 .004l-.058 .007l-.118 .025l-.105 .035l-.113 .054l-.111 .071a1.008 1.008 0 0 0 -.112 .097l-4 4l-.083 .094a1 1 0 0 0 .083 1.32l.094 .083a1 1 0 0 0 1.32 -.083l2.293 -2.292v5.585l.007 .117a1 1 0 0 0 1.993 -.117v-5.585l2.293 2.292l.094 .083a1 1 0 0 0 1.32 -1.497l-4 -4l-.082 -.073l-.104 -.074l-.098 -.052l-.11 -.044l-.112 -.03l-.126 -.017l-.075 -.003z" />
                </svg>
                Agregar formula
            </button>
        </div>
        <div class="modal fade" id="modalNuevaFormula" tabindex="-1" aria-labelledby="modalNuevaFormula"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <section class="modal-header">
                        <p class="modal-title fs-5 fw-semibold">Nueva Formula</p>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </section>

                    <form class="modal-body" action="/formulas/api/newFormula" method="POST">
                        <div class="mb-3">
                            <label for="nombreFormula" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombreFormula" name="nombreFormula"
                                minlength="3" maxlength="35" placeholder="Nombre de la formula" required>
                        </div>
                        <div class="mb-3">
                            <label for="descripcionFormula" class="form-label">Descripcion</label>
                            <input type="text" class="form-control" name="descripcionFormula" id="descripcionFormula"
                                minlength="8" maxlength="70" placeholder="Breve descripcion de la formula" required>
                        </div>
                        <div class="mb-3">
                            <label for="tiempoFormula" class="form-label">Tiempo de fabricacion</label>
                            <input type="text" name="tiempoFormula" id="tiempoFormula" class="form-control"
                                placeholder="13:45" pattern="^([0-9]{1,2}):([0-5][0-9])$|^([0-9]{1,2})$"
                                title="Formato de tiempo requerido 01:20 con maximo de 99 horas" required>
                        </div>
                        <div class="mb-3">
                            <label for="cantidadProducida" class="form-label">Cantidad de producto producido</label>
                            <div class="input-group">
                                <input type="number" class="form-control" id="cantidadProducida"
                                    name="cantidadProducida" min="0.1" step="0.1" placeholder="100" max="1000" required>
                                <select class="form-select" id="unidadCantidadProducida" name="unidadCantidadProducida"
                                    required>
                                    <option value="" disabled selected>Seleccionar unidad</option>
                                    <option value="kg">kilogramos</option>
                                    <option value="lb">Libra</option>
                                    <option value="Lt">litros</option>
                                    <option value="gr">gramos</option>
                                    <option value="ml">mililitros</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="materiaPrima" class="form-label">Materia prima a usar</label>
                            <textarea class="form-control" name="materiaPrima" id="materiaPrima" rows="3"
                                placeholder="2LT de Leche, Fermentos lácticos...." minlength="3" required
                                style="resize: none;"></textarea>
                        </div>
                        <section class="modal-footer">
                            <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 27"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-cancel">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M3 12a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                                    <path d="M18.364 5.636l-12.728 12.728" />
                                </svg>
                                Cancelar
                            </button>
                            <button type="submit" class="btn btn-dark btn-sm" id="agregarFormula">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 27"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="icon icon-tabler icons-tabler-outline icon-tabler-book-upload">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M14 20h-8a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12v5" />
                                    <path d="M11 16h-5a2 2 0 0 0 -2 2" />
                                    <path d="M15 16l3 -3l3 3" />
                                    <path d="M18 13v9" />
                                </svg>
                                Guardar
                            </button>
                        </section>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- AQUI ESTAN LAS ALERTAS A MOSTRARSE -->
    <div id="alertaExito" class="d-none alert alert-success alert-dismissible fade show" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor"
            class="icon icon-tabler icons-tabler-filled icon-tabler-circle-check">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
                d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z" />
        </svg>
        <span id="msjAlertaExito"></span>
    </div>

    <div id="alertaError" class="d-none alert alert-warning alert-dismissible fade show" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor"
            class="icon icon-tabler icons-tabler-filled icon-tabler-alert-square-rounded">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
                d="M12 2l.642 .005l.616 .017l.299 .013l.579 .034l.553 .046c4.687 .455 6.65 2.333 7.166 6.906l.03 .29l.046 .553l.041 .727l.006 .15l.017 .617l.005 .642l-.005 .642l-.017 .616l-.013 .299l-.034 .579l-.046 .553c-.455 4.687 -2.333 6.65 -6.906 7.166l-.29 .03l-.553 .046l-.727 .041l-.15 .006l-.617 .017l-.642 .005l-.642 -.005l-.616 -.017l-.299 -.013l-.579 -.034l-.553 -.046c-4.687 -.455 -6.65 -2.333 -7.166 -6.906l-.03 -.29l-.046 -.553l-.041 -.727l-.006 -.15l-.017 -.617l-.004 -.318v-.648l.004 -.318l.017 -.616l.013 -.299l.034 -.579l.046 -.553c.455 -4.687 2.333 -6.65 6.906 -7.166l.29 -.03l.553 -.046l.727 -.041l.15 -.006l.617 -.017c.21 -.003 .424 -.005 .642 -.005zm.01 13l-.127 .007a1 1 0 0 0 0 1.986l.117 .007l.127 -.007a1 1 0 0 0 0 -1.986l-.117 -.007zm-.01 -8a1 1 0 0 0 -.993 .883l-.007 .117v4l.007 .117a1 1 0 0 0 1.986 0l.007 -.117v-4l-.007 -.117a1 1 0 0 0 -.993 -.883z" />
        </svg>
        <span id="msjAlertaError"></span>
    </div>

    <!-- DE AQUI SE MOSTRARAN LAS FORMULAS -->
    <main class="container mt-4 mb-5">
        <div id="spinnerCargando" class="text-center my-5">
            <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Cargando...</span>
            </div>
        </div>
        

        <div class="row" id="containerFormulas">
            <!-- AQUI VAN LAS TARJETAS DE LAS FORMULAS -->

            <!-- .. -->
        </div>
    </main>

    <!-- >>>>> AQUI ESTA EL MODAL PARA MOSTRAR LOS DETALLES DE LA FORMULA <<<<< -->
    <div class="modal fade" id="mostrarFormula" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title fw-semibold h3" id="formulaTituloDetalle"></h5>
                            <p class="card-text" id="descripcionFormulaDetalle"></p>
                            <small class="text-muted fw-semibold">Tiempo de fabricacion</small><br>
                            <p id="tiempoFormulaDetalle" class="card-text mt-2"></p>
                            <small class="text-muted fw-semibold">Cantidad Producida</small><br>
                            <p id="cantidadFormulaDetalle" class="card-text mt-2"></p>
                            <small class="text-muted fw-semibold">Materia Prima: </small><br>
                            <p class="card-text mt-2" id="materiaFormulaDetalle"></p>
                        </div>
                        <button class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL PARA CONFIRMAR LA ELIMINACION DE LA FORMULA -->
    <div class="modal fade" id="modalConfirmarEliminacion" tabindex="-1" data-bs-backdrop="static"
        data-bs-keyboard="false" aria-labelledby="modalConfirmarEliminacionLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="modalConfirmarEliminacionLabel">Confirmar eliminacion</h5>
                </div>
                <div class="modal-body">
                    ¿Estas seguro de que deseas eliminar esta formula?
                </div>
                <div class="modal-footer">
                    <button type="button" id="eliminacionRechazada" class="btn btn-secondary"
                        data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" id="eliminacionConfirmada" class="btn btn-danger" data-bs-dismiss="modal">Si,
                        eliminar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL PARA ACTUALIZAR UNA FORMULA -->
    <div class="modal fade" id="actualizarFormula" tabindex="-1" aria-labelledby="actualizarFormula" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <section class="modal-header">
                    <p class="modal-title fs-5 fw-semibold">Actualizar formula</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </section>
                <form class="modal-body" id="formActualizarFormula">
                    <div class="mb-3">
                        <label for="nombreFormulaActualizar" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombreFormulaActualizar"
                            name="nombreFormulaActualizar" minlength="3" maxlength="35"
                            placeholder="Nombre de la formula" required>
                    </div>
                    <div class="mb-3">
                        <label for="descripcionFormulaActualizar" class="form-label">Descripcion</label>
                        <input type="text" class="form-control" name="descripcionFormulaActualizar"
                            id="descripcionFormulaActualizar" minlength="8" maxlength="70"
                            placeholder="Breve descripcion de la formula" required>
                    </div>
                    <div class="mb-3">
                        <label for="tiempoFormulaActualizar" class="form-label">Tiempo de fabricacion</label>
                        <input type="text" name="tiempoFormulaActualizar" id="tiempoFormulaActualizar"
                            class="form-control" placeholder="13:45"
                            pattern="^([0-9]{1,2}):([0-5][0-9])$|^([0-9]{1,2})$"
                            title="Formato de tiempo requerido 01:20 con maximo de 99 horas" required>
                    </div>
                    <div class="mb-3">
                        <label for="cantidadProducidaActualizar" class="form-label">Cantidad de producto
                            producido</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="cantidadProducidaActualizar"
                                name="cantidadProducidaActualizar" min="0.1" step="0.1" placeholder="100" max="1000" required>
                            <select class="form-select" id="unidadCantidadProducidaActualizar"
                                name="unidadCantidadProducidaActualizar" required>
                                <option value="" disabled selected>Seleccionar unidad</option>
                                <option value="kg">kilogramos</option>
                                <option value="lb">libras</option>
                                <option value="Lt">litros</option>
                                <option value="gr">gramos</option>
                                <option value="ml">mililitros</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="materiaPrimaActualizar" class="form-label">Materia prima a usar</label>
                        <textarea class="form-control" name="materiaPrimaActualizar" id="materiaPrimaActualizar"
                            rows="3" placeholder="2LT de Leche, Fermentos lácticos...." minlength="3" required
                            style="resize: none;"></textarea>
                    </div>
                    <section class="modal-footer">
                        <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 27"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-cancel">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M3 12a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                                <path d="M18.364 5.636l-12.728 12.728" />
                            </svg>
                            Cancelar
                        </button>
                        <button class="btn btn-dark btn-sm" id="btnActualizarFormula">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 27"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-book-upload">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M14 20h-8a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12v5" />
                                <path d="M11 16h-5a2 2 0 0 0 -2 2" />
                                <path d="M15 16l3 -3l3 3" />
                                <path d="M18 13v9" />
                            </svg>
                            Actualizar
                        </button>
                    </section>
                </form>
            </div>
        </div>
    </div>
</body>
</html>